.nut_dropdown {
  background-color: #04b904;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  position: absolute;
}

.dropdown:hover .nut_dropdown {
  background-color: green;
}

.dropdown {
  padding: 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.noidung_dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
}

.dropdown:hover .noidung_dropdown {
  display: block;
}

.noidung_dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.noidung_dropdown a:hover {
  background-color: #cecdcd;
}

footer {
  background-color: var(--footer-background-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.copyright-wrapper .copyright-content {
  line-height: 80px;
  color: var(--white-color);
}

.dashboard {
  width: 20%;
  min-height: calc(100vh - 80px);
  background-color: #f7f7f7;
  padding: 0;
}
.dashboard .infor-top {
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.dashboard .infor-top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0px 10px 0px;
}
.dashboard .infor-top h3 {
  font-size: 19px;
  color: #000000;
  font-weight: 300;
  font-family: serif;
}
.dashboard .infor-top p {
  color: #000000;
  font-size: 18px;
}
.dashboard .card {
  border: none;
}
.dashboard .card .card-body {
  background-color: #f7f7f7;
}
.dashboard .card .card-body .sidebar-item {
  width: 100%;
  text-align: left;
  padding: 15px 0 15px 15px;
  background-color: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 5px;
}
.dashboard .card .card-body .sidebar-item i {
  font-size: 18px;
  line-height: 100%;
}
.dashboard .card .card-body .sidebar-item a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  line-height: 100%;
}
.dashboard .card .card-body .sidebar-item:hover {
  background-color: #4554fc;
}
.dashboard .card .card-body .sidebar-item:hover i {
  color: #FFFFFF;
}
.dashboard .card .card-body .sidebar-item:hover a {
  color: #FFFFFF;
}
.dashboard .card .card-body .active {
  background-color: #4554fc;
}
.dashboard .card .card-body .active i {
  color: #FFFFFF;
}
.dashboard .card .card-body .active a {
  color: #FFFFFF;
}

body {
  overflow-x: hidden;
}

.dashboard {
  display: block;
}

.dropdown {
  display: none;
}

.content {
  width: 80%;
  min-height: calc(100vh - 80px);
}
.content .invoice {
  width: 60%;
  margin: 100px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 450px;
  padding: 30px;
  border-radius: 8px;
}
.content .invoice h2 {
  width: 120px;
  margin: auto;
  color: blueviolet;
  font-size: 28px;
  margin-bottom: 20px;
}
.content .invoice p {
  font-size: 19px;
  line-height: 36px;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
  }
  .content .table-bordered {
    width: 90%;
  }
  .dashboard {
    display: none;
  }
  .dropdown {
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}

/*# sourceMappingURL=Renter-invoice.css.map */
