nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid lightslategray;
}

nav .navbar {
  padding: 25px 100px;
}

nav .navbar .navbar-logo img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

nav .navbar .navbar-icons {
  display: flex;
}

nav .navbar .navbar-icons .notification-icon {
  margin-right: 50px;
}

nav .navbar .navbar-icons .icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

nav .user-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  width: 300px;
  height: 250px;
}

nav .user-menu.active {
  display: block;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

nav .user-menu .arrow-up {
  position: absolute;
  top: -12px;
  left: 70%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 12px solid #C8C9C7;
}

nav .user-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
}

nav .user-menu .user-info {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #C8C9C7;
}

nav .user-menu .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .user-menu .avatar img {
  max-width: 100%;
  max-height: 100%;
}

nav .user-menu .info .name {
  margin: 0;
}

nav .user-menu .info .email {
  font-size: 14px;
  color: #777;
}

nav .user-menu .user-menu-items {
  margin-top: 15px;
}

nav .user-menu .user-menu-item {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

nav .user-menu .user-menu-item .icon {
  margin-right: 14px;
  font-size: 18px;
}

nav .user-menu .user-menu-item .link {
  font-size: 15px;
  font-weight: 500;
}

nav .user-menu .user-menu-item:hover {
  background-color: #f0f0f0;
}

nav .user-menu .user-menu-item.active {
  font-weight: bold;
}

.nut_dropdown {
  background-color: #04b904;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  position: absolute;
}

.dropdown:hover .nut_dropdown {
  background-color: green;
}

.dropdown {
  padding: 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.noidung_dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
}

.dropdown:hover .noidung_dropdown {
  display: block;
}

.noidung_dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.noidung_dropdown a:hover {
  background-color: #cecdcd;
}

footer {
  position: relative;
  z-index: 3;
  background-color: var(--footer-background-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.copyright-wrapper .copyright-content {
  line-height: 80px;
  color: var(--white-color);
}

.dashboard {
  width: 20%;
  min-height: calc(100vh - 80px);
  background-color: #fff;
  padding: 0;
}
.dashboard .infor-top {
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.dashboard .infor-top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0px 10px 0px;
}
.dashboard .infor-top h3 {
  font-size: 19px;
  color: #000000;
  font-weight: 300;
  font-family: serif;
}
.dashboard .infor-top p {
  color: #000000;
  font-size: 18px;
}
.dashboard .card {
  position: absolute;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 10px 0 30px 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border: none;
  z-index: 2;
}
.dashboard .card .card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 16px;
}

.dashboard .card .card-body .list {
  list-style: none;
}

.dashboard .card .card-body .list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 15px;
}

.dashboard .card .card-body .lists .nav-link:hover{
  background-color: #4070f4;
}

.dashboard .card .card-body .lists .nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.dashboard .card .card-body .lists .nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.dashboard .card .card-body .lists .nav-link:hover .icon,
.dashboard .card .card-body .lists .nav-link:hover .link {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  overflow-x: hidden;
}

.dashboard {
  display: block;
}

.dropdown {
  display: none;
}

.content {
  font-size: 18px;
  width: 80%;
  margin: 0;
  min-height: 100vh;
}
.content .table-content {
  width: 100%;
  padding-top: 80px;
}
.content .table-content h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.content .table-content .table {
  border-radius: 5px;
  width: 80%;
  margin: 60px auto;
  text-align: center;
}
.content .table-content .table .table-head tr {
  width: 100%;
  height: 27px;
}
.content .table-content .table .table-head tr th {
  font-size: 21px;
  font-weight: 500;
}
.content .table-content .table tbody {
  padding: 50px;
}
.content .table-content .table tbody tr {
  width: 100%;
}
.content .table-content .table tbody tr td:first-child {
  color: blue;
  text-align: center;
  font-size: 20px;
}
.content .table-content .table tbody tr td:first-child a {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
}
.content .table-content .table tbody tr td:first-child a:hover {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
}
.content .table-content .table tbody tr td:last-child {
  color: blue;
  text-align: center;
  font-size: 20px;
}
.content .table-content .table tbody tr td:last-child p {
  font-size: 20px;
  color: inherit;
  background-color: inherit;
  height: 100%;
  margin: 0px;
}
.content .table-content .table tbody tr td:last-child p:hover {
  font-size: 20px;
  color: inherit;
  background-color: inherit;
  height: 100%;
  margin: 0px;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0;
  }
  .dashboard {
    display: none;
  }
  .dropdown {
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}

/*# sourceMappingURL=Renter-view-list-invoice.css.map */
