:root {
  --main-color: #333;
  --second-color: #707070;
  --main-background: #f0f0f0;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid darkgrey;
}

nav .navbar {
  padding: 10px 100px;
}

nav .navbar .navbar-logo img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

nav .navbar .navbar-icons {
  display: flex;
}

nav .navbar .navbar-icons .notification-icon {
  margin-right: 50px;
}

nav .navbar .navbar-icons .icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

nav .user-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  width: 300px;
  height: 250px;
}

nav .user-menu.active {
  display: block;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

nav .user-menu .arrow-up {
  position: absolute;
  top: -12px;
  left: 70%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 12px solid darkgrey;
}

nav .user-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
}

nav .user-menu .user-info {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--main-background);
}

nav .user-menu .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .user-menu .avatar img {
  max-width: 100%;
  max-height: 100%;
}

nav .user-menu .info .name {
  margin: 0;
}

nav .user-menu .info .email {
  font-size: 14px;
  color: #777;
}

nav .user-menu .user-menu-items {
  margin-top: 15px;
}

nav .user-menu .user-menu-item {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--second-color);
  transition: background-color 0.3s ease;
}

nav .user-menu .user-menu-item .icon {
  margin-right: 14px;
  font-size: 18px;
}

nav .user-menu .user-menu-item .link {
  font-size: 15px;
  font-weight: 500;
}

nav .user-menu .user-menu-item:hover {
  background-color: var(--main-background);
  color: var(--main-color);
}

nav .user-menu .user-menu-item.active {
  font-weight: bold;
}

footer {
  position: relative;
  z-index: 3;
  background-color: var(--footer-background-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.copyright-wrapper .copyright-content {
  line-height: 80px;
  color: var(--white-color);
}

.dashboard {
  width: 20%;
  min-height: calc(100vh - 80px);
  background-color: #fff;
  padding-top: 20px;
}

.dashboard .card {
  position: absolute;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 10px 0 30px 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border: none;
  z-index: 2;
}

.dashboard .card .card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 16px;
}

.dashboard .card .card-body .list {
  list-style: none;
}

.dashboard .card .card-body .list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0 23px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.dashboard .card .card-body .lists .nav-link:hover{
  background-color: var(--main-background);
  color: var(--main-color);
}

.dashboard .card .card-body .lists .nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: var(--second-color);
}

.dashboard .card .card-body .lists .nav-link .link {
  font-size: 16px;
  color: var(--second-color);
  font-weight: 500;
}

.dashboard .card .card-body .lists .nav-link:hover .icon,
.dashboard .card .card-body .lists .nav-link:hover .link {
  color: var(--main-color);
}

.dashboard {
  display: block;
}

body {
  font-size: 17px;
  overflow-x: hidden;
  min-height: calc(100vh - 80px);
}

.main-body {
  padding: 0;
  margin: 0;
}

.content {
  min-height: 100vh;
  width: 80%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.content .title-table {
  font-weight: 550;
  font-size: 34px;
  margin: 40px 0px 10px 0px;
  text-align: center;
  height: 45px;
}
.content table {
  margin: 40px auto;
  width: 70%;
  text-align: center;
  font-size: 25px;
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.content table th {
  background-color: var(--main-background);
}

.content table th td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.content table tr:last-child td {
  border-bottom: none;
}

.content table tr td .btnAction {
  width: 100%;
  text-decoration: none;
  background-color: #fff;
  color: #5578C6;
}
.content .modal-header h5 {
  width: 100%;
  margin-left: 27px;
  text-align: center;
  font-size: 22px;
  color: #0022ff;
}
.content .modal-body {
  line-height: 29px;
  font-size: 22px;
}
.content .modal-footer button {
  background-color: #0003fd;
  color: #FFFFFF;
  width: 78px;
  height: 36px;
  font-size: 15px;
}
.content .modal-content {
  padding: 5px 10px;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 80px);
  }
  .content .table {
    width: 85%;
  }
  .main-body .dashboard {
    display: none;
  }
  .dropdown {
    display: block;
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}

.active {
  background-color: var(--main-background);
  color: var(--main-color);
}
