nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid lightslategray;
}

nav .navbar {
  padding: 10px 100px;
}

nav .navbar .navbar-logo img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

nav .navbar .navbar-icons {
  display: flex;
}

nav .navbar .navbar-icons .notification-icon {
  margin-right: 50px;
}

nav .navbar .navbar-icons .icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

nav .user-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  width: 300px;
  height: 250px;
}

nav .user-menu.active {
  display: block;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

nav .user-menu .arrow-up {
  position: absolute;
  top: -12px;
  left: 70%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 12px solid #C8C9C7;
}

nav .user-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
}

nav .user-menu .user-info {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #C8C9C7;
}

nav .user-menu .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .user-menu .avatar img {
  max-width: 100%;
  max-height: 100%;
}

nav .user-menu .info .name {
  margin: 0;
}

nav .user-menu .info .email {
  font-size: 14px;
  color: #777;
}

nav .user-menu .user-menu-items {
  margin-top: 15px;
}

nav .user-menu .user-menu-item {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

nav .user-menu .user-menu-item .icon {
  margin-right: 14px;
  font-size: 18px;
}

nav .user-menu .user-menu-item .link {
  font-size: 15px;
  font-weight: 500;
}

nav .user-menu .user-menu-item:hover {
  background-color: #f0f0f0;
}

nav .user-menu .user-menu-item.active {
  font-weight: bold;
}

.nut_dropdown {
  background-color: #04b904;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  position: absolute;
}

.dropdown:hover .nut_dropdown {
  background-color: green;
}

.dropdown {
  padding: 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.noidung_dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
}

.dropdown:hover .noidung_dropdown {
  display: block;
}

.noidung_dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.noidung_dropdown a:hover {
  background-color: #cecdcd;
}

footer {
  position: relative;
  z-index: 3;
  background-color: var(--footer-background-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.copyright-wrapper .copyright-content {
  line-height: 80px;
  color: var(--white-color);
}

.dashboard {
  width: 20%;
  min-height: calc(100vh - 80px);
  background-color: #fff;
  padding: 0;
}
.dashboard .infor-top {
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.dashboard .infor-top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0px 10px 0px;
}
.dashboard .infor-top h3 {
  font-size: 19px;
  color: #000000;
  font-weight: 300;
  font-family: serif;
}
.dashboard .infor-top p {
  color: #000000;
  font-size: 18px;
}
.dashboard .card {
  position: absolute;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 10px 0 30px 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border: none;
  z-index: 2;
}
.dashboard .card .card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 16px;
}

.dashboard .card .card-body .list {
  list-style: none;
}

.dashboard .card .card-body .list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 15px;
}

.dashboard .card .card-body .lists .nav-link:hover{
  background-color: #4070f4;
}

.dashboard .card .card-body .lists .nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.dashboard .card .card-body .lists .nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.dashboard .card .card-body .lists .nav-link:hover .icon,
.dashboard .card .card-body .lists .nav-link:hover .link {
  color: #fff;
}

body {
  font-size: 17px;
  overflow-x: hidden;
  min-height: calc(100vh - 80px);
}

.dashboard {
  display: block;
}

.dropdown {
  display: none;
}

.main-body {
  padding: 0;
  margin: 0;
}

.content {
  width: 80%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px 40px 30px 40px;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  border-radius: 15px;
  background-color: var(--primary-color);
  transition: all 0.2s ease;
}

.tabs .tabs-item {
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tabs .tabs-item:hover {
  background-color: rgba(53, 105, 194, 0.05);
  border-bottom: 4px solid lightslategray;
}

.active-tab {
  color: var(--primary-color);
  background-color: rgba(53, 105, 194, 0.05);
  border-bottom: 4px solid var(--primary-color);
}

.tabs .tabs-icon {
  margin-right: 10px;
  font-size: 24px;
}

.content__body {
  padding: 16px 16px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dataTables_filter label,
.dataTables_length label{
  width: 300px;
  height: 50px;
  font-size: 16px;
  display: flex;
}

.dataTables_length select {
  width: 68px;
  height: 30px;
  font-size: 15px;
  margin: 0 10px;
}

.dataTables_filter input{
  width: 200px;
  height: 31px;
  font-size: 15px;
  margin-left: 10px;
}

#notification-table_info{
  margin-top: 10px;
  font-size: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 10px;
}

.send_report {
  display: none;
}

.form-control {
  transition: border 0.1s ease;
}

.form-control:focus {
  border: 2px solid #696cff;
  caret-color: #696cff;
}

.form-control.textarea {
  min-height: 200px;
  padding: 16px;
}

.form-action .form-submit {
  padding: 12px 60px;
  background-color: #696cff;
  transition: background-color 0.2s ease;
}

.form-action .form-submit:hover {
  background-color: #484bee;
}

#category {
  width: 70%;
  height: 40px;
  font-size: 15px;
}

#category option {
  height: 30px; /* Đặt độ cao cho từng tùy chọn */
}








