<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>SITEMAP_PROPERTIES</param-name>
        <param-value>/WEB-INF/sitemap.properties</param-value>
    </context-param>

    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>com.codebrew.roommart.ServletListener</listener-class>
    </listener>

    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>com.codebrew.roommart.filter.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.codebrew.roommart.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
